header {
  height: 392px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cbcbcb), color-stop(0.22, #250511), color-stop(1, #432730));
  background-image: -o-linear-gradient(bottom, #cbcbcb 0%, #250511 22%, #432730 100%);
  background-image: -moz-linear-gradient(bottom, #cbcbcb 0%, #250511 22%, #432730 100%);
  background-image: -webkit-linear-gradient(bottom, #cbcbcb 0%, #250511 22%, #432730 100%);
  background-image: -ms-linear-gradient(bottom, #cbcbcb 0%, #250511 22%, #432730 100%);
  background-image: linear-gradient(to bottom, #cbcbcb 0%, #250511 22%, #432730 100%); }

@font-face {
  font-family: 'FZZhengHeiS';
  src: url("../fonts/FZZhengHeiS-EL-GB.TTF") format("truetype"); }
body {
  background-color: #230410;
  color: white;
  font-family: 'FZZhengHeiS'; }
  body nav.navbar-default {
    background-color: #230410;
    height: 94px;
    border-right: none;
    border-left: none;
    border-radius: 0;
    font-size: 20px; }
    body nav.navbar-default ul.navbar-nav {
      padding-top: 20px; }
      body nav.navbar-default ul.navbar-nav li.dropdown {
        margin-left: 100px; }
  body .feature-image-wrapper {
    margin-top: -20px; }
  body .service-introduction h2 {
    text-align: center;
    /*margin-bottom: 133px;*/ }
  body .service-introduction h4 {
    padding: 50px;
    margin-left: 100px; }
  body .salon-image img {
    width: 1440px; }
