h3 {
	font-size: 21px;
}
h3.title {
	text-align: center;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
.logo{
		margin: 51px auto;
		width: 95px;
		height: 134px;
	}
body.index {
	header {
		height: 182px;
	}
}
body.about {
	header {
		.carousel-indicators {
			padding: 10px 50px 10px 83px;
			background: rgba(141, 128, 122, .5);
			margin-left: 32%;
			width: 19%;
			li {
				background-color: rgba(255, 255, 255, .9);
				margin-right: 12px;
			}
			li.active {
				border: none;
				background-color: #560f21;
			}
		}
	}
	.navbar {
		margin-bottom: 0;
	}
	.feature-image-wrapper {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		background-color: inherit;
	}
	.intro-text {
		margin-top: 60px;
	}
	.history-intro {
		padding-bottom: 200px;
	}
	.current-scale {
		padding-top: 130px;
		padding-bottom: 8px;
		text-align: center;
		background: #560f21;
		color: #e8e7e2;
		.number {
			font-size: 36px;
		}
		.intro-text {
			margin-top: 91px;
		}
	}
	.founder-intro {
		padding-top: 21px;
		background: #d3c2ba;
		.icons-for-scale {
			margin-left: 52px;
			margin-bottom: 180px;
		}
		.founder-picture {
			text-align: center;
			padding-top: 60px;
			img {
				width: 260px;
			}
		}
	}
}
footer {
	color: #605151;
	padding-left: 159px;
	background: #b3ada7;
	height: 300px;
	border-top: 3px solid white;
	.row {
		margin-top: 100px;
	}
	.logo {
		width: 90px;
		background: #3d212a;
		padding: 10px;
		margin-right: 54px;
		img {
			display: inline-block;
			height: auto;
			width: 71px;
		}
	}
	.bold {
		color: #4c3138;
	}
	.contact-info {
		.address {
			margin-right: 28px;
		}
		.phone-number {
			margin-right: 50px;
		}
		.email {
			margin-right: 50px;
		}
		.careers {
			margin-right: 20px;
		}
	}
	.social-media {
		margin-left: 28px;
		img {
			margin-right: 15px;
		}
		p{
			margin-top: 46px;
			color: #4c3138;
		}
	}
	.designer-symbol {
		margin-top: 94px;
		font-size: 10px;
	}
}
.bold {
	font-family: 'FZZhengHeiR';
}
@font-face {
  font-family: 'FZZhengHeiS';
  src: url('../fonts/FZZhengHeiS-EL-GB.TTF') format('truetype');
}
@font-face {
  font-family: 'FZZhengHeiR';
  src: url('../fonts/FZZhengHeiS-R-GB.TTF') format('truetype');
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
    color: #b7969c;
    background-color: #550e20;
    opacity: 0.7;
}
body{
	background-color: #550e20;
	font-family: 'FZZhengHeis';
	.navbar-inverse {
		color: #b7969c;
    background-color: #550e20;
		border: 0;
		border-top: 1px solid white;
		border-radius: 0;
		opacity: 0.7;
		.navbar-nav>li {
			margin-right: 91px;
		}
	}
	.body-service {
		background: #550e20;
		border-radius: 0;
		color: white;
	}
	.jumbotron .facial-service {
		background: #e7e6e4;
	}
	
	.feature-image-wrapper {
		margin-top: 80px;
		.salon-image{
			overflow: hidden;
		}
	}
	.body-service-intro-wrapper, .facial-service-intro-wrapper{
		h5 {
			opacity: 0.7;
		}
		h3 {
			text-align: center;
		}
		.title {
			margin-bottom: 120px;
		}
		.row {
			margin-bottom: 53px;
		}
		.service-introduction {
			color: #030303;
		}
	}
	.service-introduction {
		padding-top: 130px;
		width: 1170px;
		margin: 0 auto;
		h3.title {
			margin-bottom: 73px;
		}
	}
	h5.intro-description {
		padding-right: 80px;
		margin-top: 29px;
	}
	.body-service-intro-wrapper {
		margin-top: 50px;
		padding-bottom: 60px;
		h3.title {
			font-family: 'FZZhengHeiS';
		}
	}
}