header {
	height: 182px;
	.logo{
		margin: 51px auto;
		width: 95px;
		height: 134px;
	}
}
footer {
	color: #605151;
	padding-left: 159px;
	background: #b3ada7;
	height: 300px;
	width: 110%;
	.contact-info, .logo {
		margin-top: 100px;
	}
	.logo {
		background: #3d212a;
		display: inline-block;
		height: 152px;
		width: 111px;
		padding: 8px;
	}
}
@font-face {
  font-family: 'FZZhengHeiS';
  src: url('../fonts/FZZhengHeiS-EL-GB.TTF') format('truetype');
}
@font-face {
  font-family: 'FZZhengHeiR';
  src: url('../fonts/FZZhengHeiS-R-GB.TTF') format('truetype');
}
body{
	background-color: #550e20;
	color: white;
	font-family: 'FZZhengHeiR';
	nav.navbar-default {
		.navbar-nav>li>a {
			color: #b7969c;
		}
		width: 110%;
		background-color: #550e20;
		height: 50px;
		border-right: none;
		border-left: none;
		border-radius: 0;
		font-size: 14px;
		margin-bottom: 0;
		ul.navbar-nav {
			li.dropdown {
				margin-left: 150px;
			}
		}
	}
	.feature-image-wrapper {
		margin-top: -20px;
	}
	.facial-service-intro-wrapper{
		background: #e7e6e4;
		padding-bottom: 260px;
		.service-introduction {
			color: #030303;
		}
	}
	.service-introduction {
		padding-top: 130px;
		width: 1170px;
		margin: 0 auto;
		h3.title {
			text-align: center;
			margin-bottom: 73px;
		}
	}
	h5.intro-description {
		padding-right: 80px;
		margin-top: 29px;
	}
	.body-service-intro-wrapper {
		margin-top: 50px;
		padding-bottom: 120px;
		h3.title {
			font-family: 'FZZhengHeiS';
		}
	}
	
	.salon-image{
		img {
			width: 110%;
		}
	}
}