header {
  height: 182px; }
  header .logo {
    margin: 51px auto;
    width: 95px;
    height: 134px; }

footer {
  color: #605151;
  padding-left: 159px;
  background: #b3ada7;
  height: 300px;
  width: 110%; }
  footer .contact-info, footer .logo {
    margin-top: 100px; }
  footer .logo {
    background: #3d212a;
    display: inline-block;
    height: 152px;
    width: 111px;
    padding: 8px; }

@font-face {
  font-family: 'FZZhengHeiS';
  src: url("../fonts/FZZhengHeiS-EL-GB.TTF") format("truetype"); }
@font-face {
  font-family: 'FZZhengHeiR';
  src: url("../fonts/FZZhengHeiS-R-GB.TTF") format("truetype"); }
body {
  background-color: #550e20;
  color: white;
  font-family: 'FZZhengHeiR'; }
  body nav.navbar-default {
    width: 110%;
    background-color: #550e20;
    height: 50px;
    border-right: none;
    border-left: none;
    border-radius: 0;
    font-size: 14px;
    margin-bottom: 0; }
    body nav.navbar-default .navbar-nav > li > a {
      color: #b7969c; }
    body nav.navbar-default ul.navbar-nav li.dropdown {
      margin-left: 150px; }
  body .feature-image-wrapper {
    margin-top: -20px; }
  body .facial-service-intro-wrapper {
    background: #e7e6e4;
    padding-bottom: 260px; }
    body .facial-service-intro-wrapper .service-introduction {
      color: #030303; }
  body .service-introduction {
    padding-top: 130px;
    width: 1170px;
    margin: 0 auto; }
    body .service-introduction h3.title {
      text-align: center;
      margin-bottom: 73px; }
  body h5.intro-description {
    padding-right: 80px;
    margin-top: 29px; }
  body .body-service-intro-wrapper {
    margin-top: 50px;
    padding-bottom: 120px; }
    body .body-service-intro-wrapper h3.title {
      font-family: 'FZZhengHeiS'; }
  body .salon-image img {
    width: 110%; }
